################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

x64
Bloom/x64
.vs
.vscode
